@inherits LayoutComponentBase

<div class="page">
    <Sidebar CurrentPage="@CurrentPage" IsSidebarHidden="@IsSidebarHidden" />
    <section id="content" class="@(IsSidebarHidden ? "expanded" : "")">
        <Navbar ToggleSidebar="ToggleSidebar" />
        @Body
    </section>
</div>

@code {
    private bool IsSidebarHidden { get; set; } = false;
    private string CurrentPage { get; set; } = "Dashboard";

    private async Task ToggleSidebar()
    {
        IsSidebarHidden = !IsSidebarHidden;
        StateHasChanged();
    }
}