@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

    <div>
        <section id="content">
            @Body
        </section>
    </div>

@code {

    private string CurrentPage { get; set; } = "Dashboard";

}