@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

    <div>
        <section id="content">
            <Navbar/>
            <NavMenu></NavMenu>
            <div class="body-container">
            @Body
        </div>
        </section>
    </div>

@code {

    private string CurrentPage { get; set; } = "Dashboard";

}