<nav class="navbar navbar-expand navbar-dark topbar fixed-top">
    <div class="container-fluid">
        <!-- Brand/logo and toggle button (for mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand">
            <img src="/images/weightscale.png"
                 alt="Weight Scale Logo" height="50" width="50" style="margin-right:5px"; >
            <span>Legal Case</span>
        </a>


        <!-- Right side items -->
        <ul class="navbar-nav ms-auto">
            <!-- User profile -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown">
                    <img src="/images/profile.png" alt="User" class="rounded-circle">
                    <span class="ms-2 d-none d-lg-inline">Waqas</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#"><i class="zmdi zmdi-account"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="zmdi zmdi-settings"></i> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="zmdi zmdi-power"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>